body {
    background: linear-gradient(90deg, #E1D4BD, #EFE8DC, #E1D4BD);
}

header {
    height: 180px;
    background-image: url("https://images.pexels.com/photos/3771811/pexels-photo-3771811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}

h1 {
    font-size: 24px;
    color: #F2F2F2;
    margin-bottom: 0;
}

main {
    width: 940px;
    margin: 0 auto;
    border-width: 0 1px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* DADOS DA TABELA */
h2 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 1em 0;
}

table {
    background-color: #F2F2F2;
    margin: 0 auto 1em auto;
    table-layout: fixed;

}

th, td {
    padding: .5em;
    border: 1px solid #000;
    text-align: center;
}

th{
    font-weight: bold;
    color: #F2F2F2;
	background-color: #40372F;
}

/* DADOS DE CADASTRO */
.container-adiciona {
    border-bottom: 1px solid #000;
}

.dados {
    margin: 1em;
}

input, select, button {
    padding: .5em;
}

input {
    width: 50%;
}

.dados-quarto, .dados-check {
    display: inline-block;
    width: 45%;
}

.botao {
    width: 20%;
    margin: 0 auto 1em;
    display: block;
    text-align: center;
}

footer {
    /*
    position: absolute;
    bottom: 0;
    width: 100%;
    */
    text-align: center;
    height: 100px;

    background-image: url("https://images.pexels.com/photos/3771110/pexels-photo-3771110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto 100px;
    background-color:  #40372F;
}