body {
    background: linear-gradient(90deg, #73685C, #BF8773, #73685C);
}

header {
    width: 100vw;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/3771811/pexels-photo-3771811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}

h1 {
    color: #F2F2F2;
}

main {
    width: 940px;
    margin: 0 auto;
    border: solid #40372F;
    border-width: 0 1px;
    background: linear-gradient(90deg, #D9C6B0, #F2E0D5, #D9C6B0);
}

.container {
    width: 90%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    padding: 15px 0;
}

table {
    background-color: #F2F2F2;
    margin: 0 auto;
    table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

footer {
    text-align: center;
    width: 100vw;
    height: 100px;
    background-color: #262523;
}